/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

app-header {
  width: 100%;
}

nav {
    background: #1ea3ff;
    padding: 20px;
    color: #fff;
    border-bottom: solid 4px #fff;
    text-align: center;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

app-current {
  width: 100%;
  position: absolute;
  top: 63px;
  bottom: 0px;
  background: #1ea3ff;
}

app-current form {
    width: 260px;
   position: absolute;
   top: 5px;
   left: 5px;
       z-index: 9999;

}

app-current input[type="text"] {
  padding: 15px;
  border: solid 1px #347fff;
  border-radius: 8px 0 0 8px;
}

th {
    text-align: left;
    font-size: .875em;
}

app-current button {
  padding: 15px;
  background: #347fff;
  border: solid 1px #347fff;
  border-radius: 0 8px 8px 0;
  margin-left: -5px;
  cursor: pointer;
  color: #fff;
  z-index: 9999;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.makeDefaultButton {
  border-radius: 8px;
  margin-left: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  float: right;
  border: solid 1px #347fff;
  background: #347fff;
}


.currentWeather {
  width:100%;
  margin-top: 100px;
  height: 590px;
  border: solid 4px #347fff;
  border-radius: 6px;
  background: #fff;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.row {

}

.fiveDaysForecast {
  height: auto;
  margin-top: 100px;
  width:100%;
  border: solid 4px #347fff;
  border-radius: 6px;
  background: #fff;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

h1, h2, h3, h4{
  margin: 20px 0 !important;
}


.currentContent {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.forecast {
  width: 20%;
  text-align: center;
}

.forecast h2 {
    font-size: 1em;
}

.forecast h3 {
    font-size: 1em;
}

.forecast h4 {
    font-size: .875em;
}

.lookCity{
  width: 30%;
  margin:2em 35%;
}

h1{
  text-align: center;
}

.boxtTitle {
  background: #347fff;
  width: 100%;
  color: #fff;
  font-weight: bold;
  padding: 15px 0;
  position: relative;
  text-align: center;
}

.day{
  margin:0 2em;
}

.day img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
